/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
 
  
  /* Header styles */

  header {
    background-color: #69066d;
    padding: 20px;
    color: #fff;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
header h1 {
    color: #1deaf1; 
    font-size: 36px;
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
   nav ul li a {
    color: #0dd3b9;
    text-decoration:blueviolet;
    margin-right: 10px;
    margin-left: 450;
    
  }
  .circular-image {
    width: auto;
    height: 200px;
    
    border-radius: 50%;
    /*margin-right: 750px;*/
    margin-left: 100px;
  }

  
  /* Main content styles */
  main {
    padding: 20px;
  }
  
  h1, h2 {
    color: #5c067e;
  }
  
  .about-section {
    display: grid;
    align-items: center;
    gap: 20px;
  }
  .about{
    display: flex;
  }
  /*.about-section img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }*/
  /*aboutus info*/
  .about p{
    margin-left: 100px;
  }
  
  .about-info {
    flex-grow: 1;
  }
  
  .zoomable-image {
    width: 350px;
    height: 350px;
    transition: transform 0.3s ease;


  }
  
  .zoomed {
    transform: scale(1.2);
  }
  /*about us decoration*/
  .portfolio-description {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #722323;
    margin-bottom: 20px;
  }
  
  .highlight {
    
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: bold;
    color: #c01818;
  }

/* project */
.pro{
    text-align: center;
}
.project img{
    width: 400px;
    height: 250px;
    align-items: center;
    padding: 10px;
}
.projects-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    
   
  }.project-image {
    position: relative;
    display: inline-block;
  }
  
  .project-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s;
  }
  .click-note {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #831616;
    padding: 5px 10px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .project-image:hover .click-note {
    opacity: 1;
  }
  
  
  
/*skills*/
#skills {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-container {
    margin: 0 10px;
  }
  
  .icon1 {
    width: 30px;
    height: 30px;
  }
/*contact */
.icon-container {
    display: flex;
    flex-direction: row;
    
    gap:20px;
    
  }
  
  .icon {
    width: 100px;
    height: 75px;
    
  }
  
  .icon:last-child {
    margin-right: 0;
  }

  #contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:20px;
    flex-grow: 1;
  }
  
  .icon-container {
    margin: 0 10px;
  }
  
  .icon {
    width: 50px;
    height: 50px;
  }



  /*footer*/
  footer{
    text-align: center;
    color: #0dd3b9;

  }
  
  
  /* Contact section styles */
  #contact {
    margin-top: 50px;
  }
  